<index:>
  {{if $controller.page.params.clippingId === clipping.id}}
    <div class="list-group-item">
      <div class="form-group floatlabel">
        <label for="title" class="floatlabel {{titleFocused}}">Title</label>
        <floatlabel id="title" class="form-control" value="{{clipping.title}}" focused="{{titleFocused}}" />
      </div>
      <div class="form-group floatlabel">
        <label for="summary" class="floatlabel {{summaryFocused}}">Summary</label>
        <floatlabel id="summary" class="form-control" value="{{clipping.summary}}" focused="{{summaryFocused}}" />
      </div>
      <div class="form-group prettylink">
        <a href="{{clipping.url}}" target="_blank" class="list-group-item-text">
          {{hostname}}{{pathname}}
        </a>
      </div>
      <form class="form-group" action="/collect/{{clipping.id}}" method="post">
        <a href="/collect" class="btn btn-primary" role="button">Save</a>
        <a href="/collect" class="btn btn-link" role="button">cancel</a>
        <button type="submit" class="btn btn-link pull-right" style="color:#d43f3a">
          delete
        </button>
      </form>
    </div>
  {{else if $controller.page.params.clippingId}}
    <div class="list-group-item disabled">
      {{if clipping.title}}<h4 class="list-group-item-heading">{{clipping.title}}</h4>{{/if}}
      {{if clipping.summary}}<p class="list-group-item-text summary">{{clipping.summary}}</p>{{/if}}
      <p class="list-group-item-text prettylink">
        {{hostname}}{{pathname}}
      </p>
    </div>
  {{else}}
    <a href="{{@href}}" class="list-group-item clipping">
      {{if clipping.title}}
        <h4 class="list-group-item-heading">
          {{clipping.title}}<br />
        </h4>
      {{/if}}
      {{if clipping.summary}}
        <p class="list-group-item-text summary">
          {{clipping.summary}}
        </p>
      {{/if}}
      <p class="list-group-item-text prettylink">
        {{if clipping.summary}}
          <small>{{hostname}}{{pathname}}</small>
        {{else}}
          {{hostname}}{{pathname}}
        {{/if}}
      </p>
      {{if @connections}}
      <div class="connections">
        <button class="action btn btn-link">{{@connectionLabel || 'Associate'}}</button>
        {{each @connections}}
        <div class="connection" style="background-image: url(/img/{{this}}.jpg)"></div>
        {{/each}}
      </div>
      {{/if}}
    </a>
  {{/if}}
