<index:>
  <svg
   as="svg"
   xmlns="http://www.w3.org/2000/svg"
   width="100%"
   height="100%"
   viewBox="0 0 {{width}} {{height}}"
   preserveAspectRatio="xMidYMid meet">
    <defs>
      <style>
        .hover, .active { filter: none }
      </style>

      <filter id="blurry" x="0%" y="0%" height="100%" width="100%" primitiveUnits="userSpaceOnUse">
        <feGaussianBlur x="0" y="0" width="{{width}}" height="{{height}}" stdDeviation="{{radius * 0.4}}" in="SourceGraphic" result="blurSquares"/>
        <feComponentTransfer in="blurSquares" result="opaqueBlur">
          <feFuncA type="linear" intercept="1"/>
        </feComponentTransfer>
        <feBlend mode="normal" in="opaqueBlur" in2="SourceGraphic" result="glass"/>
        <feComposite in="glass" in2="SourceAlpha" operator="in" />
      </filter>

      {{each patterns}}
        <pattern
          id="{{this.id}}"
          patternUnits="userSpaceOnUse"
          patternContentUnits="objectBoundingBox"
          x="{{this.x}}"
          y="{{this.y}}"
          width="{{this.width}}"
          height="{{this.height}}">
          <rect x="0" y="0" width="1" height="1" fill="white" />
          <image xlink:href="/img/{{this.id}}.jpg" x="0" y="0" width="1" height="1" preserveAspectRatio="xMidYMid slice"/>
        </pattern>
      {{/each}}
    </defs>

    {{with hover as #hover}}
    {{with connections as #connections}}
    {{each beads}}
    <circle
      class="{{active(#connections, this.id)}} {{hovered(hover, this.id)}}"
      cx="{{this.cx}}"
      cy="{{this.cy}}"
      r="{{this.r}}"
      fill="url(#{{this.id}})"
      filter="url(#blurry)" />
    {{/each}}
    {{/with}}
    {{/with}}

    {{each polygons}}
    <polygon
      points="{{this.points}}"
      fill-opacity="0"
      on-click="click(this.id)"
      on-mouseover="mouseover(this.id)"
      on-mouseout="mouseout(this.id)"
      stroke="#FAFAFA"
      stroke-width="1" />
    {{/each}}
  </svg>

  {{each beads}}
    <a id="{{this.id}}-link" href="{{url(this.id)}}" style="display:none"></a>
  {{/each}}

  {{if preview}}
  <modal as="preview" href="{{url(preview)}}" src="/img/{{preview}}.jpg"></modal>
  {{/}}
