<index:>
  <form role="form" on-submit="submit()">
    <div class="form-group {{if error}}has-error{{/if}} {{if suggested}}has-warning{{/if}} has-feedback has-feedback-left">
      <div class="input-group inner-addon left-addon">
        <input
          as="input"
          type="text"
          class="form-control"
          value="{{url}}"
          autofocus />
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
        <span class="input-group-btn">
          <button
            type="submit"
            class="btn btn-default {{if error}}btn-danger{{/if}}"
            disabled="{{error || validating}}">
            <span class="glyphicon glyphicon-triangle-right"></span>
          </button>
        </span>
      </div>
      {{if error}}<p class="help-block">There doesn't seem to be anything there. Are you sure you got that right?</p>{{/if}}
      {{if suggested}}<p class="help-block">Did you mean: <a on-click="correct('autosubmit')">{{suggested}}</a></p>{{/if}}
    </div>
  </form>
