<index:>
  <form role="form" on-submit="submit()">
    <div class="form-group floatlabel{{if error}} has-error{{/if}}{{if suggested}} has-warning{{/if}}">
      <label for="url" class="floatlabel {{focused}}">Type URL</label>
      <div class="input-group">
        <floatlabel
          as="input"
          type="text"
          id="url"
          class="form-control"
          focused="{{focused}}"
          value="{{url}}" />
        <span class="input-group-btn">
          <button
            type="submit"
            class="btn btn-primary {{if error}}btn-danger{{/if}}"
            disabled="{{validating}}">
            <span class="glyphicon glyphicon-triangle-right"></span>
          </button>
        </span>
      </div>
      {{if error}}<p class="help-block">There doesn't seem to be anything there. Are you sure you got that right?</p>{{/if}}
      {{if suggested}}<p class="help-block">Did you mean: <a on-click="correct('autosubmit')">{{suggested}}</a></p>{{/if}}
    </div>
  </form>
