<index:>
  <h2 style="text-align:center">Mindseum</h2>

  <form role="form" on-submit="submit()">

    <div class="form-group floatlabel">
      <label for="display-name" class="floatlabel {{nameFocused}}">Full Name</label>
      <floatlabel
        type="text"
        id="display-name"
        class="form-control"
        value="{{name}}"
        focused="{{nameFocused}}" />
    </div>

    <div class="form-group floatlabel">
      <label for="email" class="floatlabel {{emailFocused}}">Email</label>
      <floatlabel
        type="email"
        id="email"
        class="form-control"
        value="{{email}}"
        focused="{{emailFocused}}" />
    </div>

    <div class="form-group floatlabel">
      <label for="password" class="floatlabel {{passwordFocused}}">Password</label>
      <div class="input-group">
        <floatlabel
          type="{{if showPassword}}text{{else}}password{{/if}}"
          id="password"
          class="form-control"
          value="{{password}}"
          focused="{{passwordFocused}}" />
        <span class="input-group-btn">
          <label class="btn btn-link">
            <input type="checkbox" checked="{{showPassword}}"> show
          </label>
        </span>
      </div>
    </div>

    <p class="text-danger">{{error}}</p>

    <input type="submit" class="btn btn-primary btn-block" value="Register" disabled="{{error || sending}}" />

  </form>
