html, body
  height 100%

body
  padding-top 64px

nav + .container-fluid
  margin-top 20px

.navbar-fixed-top
  margin-bottom 0

.starter-template
  padding: 40px 15px
  text-align: center

.tall
  height 100%
  &.container-fluid
    margin-top 0
  &.scrollable
    padding-top 20px
    overflow-y scroll
  &.scrollable + .tall
    padding-left 0

.clipping-box
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: none;
  padding: 0 15px;
  border-style: solid;
  margin: 0 0 15px auto;

a.connect
  position relative

a.connect::before
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  display block
  height 34px
  padding 6px 12px
  font-size 14px
  font-weight 400
  line-height 1.42857143
  text-align center
  vertical-align middle
  border-radius 4px
  color #333
  background-color #fff
  border 1px solid #ccc

a.connect:hover::before
  color #333
  background-color #e6e6e6
  border-color #adadad

// a.connect-associate::before
  // content "Associate"

// a.connect-explore::before
  // content "Explore"

.prettylink
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

.has-feedback-left
  .form-control
    padding-left 32px
    padding-right initial
  .form-control-feedback
    left 0
    right initial

h4.list-group-item-heading
  font-size 16px
  font-weight normal
  margin-bottom 2px

.list-group-item-text.summary
  color #555
  margin-bottom 2px

.form-group.floatlabel
  margin-top -16px

label.floatlabel
  font-size 16px
  position relative
  top 16px
  transition 240ms
  transform-origin left top
  transform translate3d(0, 22px, 0) scale(1)
  opacity 0.4

  &.focused
    transform scale(0.75)
    opacity 1

.clipping
  .connections
    position absolute
    top 15px
    right 15px
    &
      height 53px
    & .connection
      display block
      width 53px
      border-radius 50%
      background-size cover
      background-position center
    & .connection, & .action
      height 53px
      margin-left 15px
      float right
