@import 'jeet'

$breakpoint = 760px

body
  margin: 0

section#gameboard
  width: 100vw; 
  height: 100vh;   
  max-height: 100vw;
  max-width: 100vh;
  position: absolute;
  top:auto;
  bottom:0;
  left:0;
  right:auto;
  margin: auto;

section#gamechain
  position: absolute
  margin: auto
  top: 0
  right: 0
  overflow: scroll

  /* square or landscape */
  @media (min-aspect-ratio: 1/1)
    width: calc(100vw - 100vh)
    bottom: 0
    left: auto

  @media (max-aspect-ratio: 1/1)
    height: calc(100vh - 100vw)
    bottom: auto
    left: 0

a.bead, a.connect
  background-color: transparent !important
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

a.tile
  translate3d(0,0,0)
  span(1/5, cycle: 5)
  padding-bottom: 20%
  transition: opacity 0.4s ease-out;

  &:hover
    /* http://davidwalsh.name/css-flip */
    opacity: 0.9

  &.linked
    opacity: 0.2

  &.disabled
    opacity: 0.08

a.string
  display: block
  float: left

  @media (min-aspect-ratio: 1/1)
    width: 10vh
    height: 10vh

  @media (max-aspect-ratio: 1/1)
    width: 10vw
    height: 10vw

