Body:
  view(is="header")
  div.container-fluid.tall
    div.row.tall
      div.col-xs-4.scrollable.tall
        div.clipping-box
          h4
            | Title of url
            br
            small https://example.com
          p summary of url
        div.clipping-box
          h4
            | Title of url
            br
            small
              div.input-group
                input.form-control(type="text" placeholder="https://" value="https://example.com" readonly)
                span.input-group-btn
                  each _page.connections
                    a.btn.btn-default(href="." style="background: url(/img/{{this}}.jpg) no-repeat center center; background-size: cover; border: none; height: 34px;") &nbsp;
                  button.btn.btn-default(type="button" class="{{if _page.connections}}btn-primary{{/if}}") Associate
          p summary of url
      div.col-xs-8.tall
        view(is="board" layout="{{_page.board}}" connections="{{_page.connections}}")
  view(is="preview:backdrop")
