Body:
  view(is="header")
  div.container-fluid
    div.row
      div.col-xs-12
        view(is="url" on-collect="newClipping()")
    each _page.clippings
      div.row
        div.col-xs-12
          | {{this.url}}
