index:
  div.container-fluid
    div.starter-template
      h1 Welcome to the Mindseum
      p.lead Explore "inner space" and participate in quests for finding and discovering new connections between mind-body, brain, behavior and technologies--including other sciences and the arts!
