import:(src="./home")
import:(src='./login')
import:(src='./register')


Title:
  | {{_page.title}}

Body:
  view(is="header")
  view(is="{{$render.ns}}")
  view(is="footer", year="2014")

header:
  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container-fluid
      div.navbar-header
        button.navbar-toggle(type="button",on-click="navbarCollapse.toggle()")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Mindseum
      collapse.navbar-collapse(as="navbarCollapse")
        ul.nav.navbar-nav
          li.active
            a(href="/") Explore
          li
            a(href="/") Collect
          li
            a(href="/") Associate

        ul.nav.navbar-nav.navbar-right
          if _session.loggedIn
            li
              a(href="/auth/logout") Logout
          else
            li
              a(href="/login") Login

footer:
  div.container-fluid
    hr
    footer
      p Footer {{@year}}
