import:(src="./home")
import:(src="./explore")
import:(src="./associations")
import:(src='./login')
import:(src='./register')

Head:
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  view(is="d-newrelic")

Title:
  | {{_page.title}}

Body:
  view(is="header")
  view(is="{{$render.ns}}")
  view(is="footer")

header:
  view(is="d-connection-alert")
  view(is="d-before-unload")
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container-fluid
      div.navbar-header
        button.navbar-toggle(type="button",on-click="navbarCollapse.toggle()")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Mindseum
      collapse.navbar-collapse(as="navbarCollapse")
        ul.nav.navbar-nav
          li(class="{{if $render.ns === 'explore' || $render.ns === 'associations'}}active{{/if}}")
            a(href="/explore/default-board") Explore
          li(class="{{if $render.ns === 'collect'}}active{{/if}}")
            a(href="/collect") Collect
          li(class="{{if $render.ns === 'associate'}}active{{/if}}")
            a(href="{{pathFor('associate',{boardId: 'default-board', offset: '0', connections: []})}}") Associate
          li(class="{{if $render.ns === 'curate'}}active{{/if}}")
            a(href="{{pathFor('curate',{boardId: 'default-board'})}}") Curate

        ul.nav.navbar-nav.navbar-right
          if _session.loggedIn
            li
              a(href="/auth/logout?redirect=/") Logout
          else
            li
              a(href="/login?redirect={{$render.url === '/' ? '/collect' : $render.url}}") Login

        if _session.loggedIn && _session.user.name
          p.nav.navbar-text.navbar-right {{_session.user.name}}

footer:
  div.container-fluid
    hr
    footer
      p Footer {{@year}}
